{% extends "layout.html" %}

{% block title %}Base16 encryption{% endblock %}

{% block content %}
  <h2>Base16 Encryption</h2>
  <form method="POST" action="/base16">
    <label for="text_input">Enter text:</label><br>
    <input type="text" id="text_input" name="text_input" required><br><br>

    <button type="submit" name="action" value="encrypt">Encrypt</button>
    <button type="submit" name="action" value="decrypt">Decrypt</button>
  </form>
  {% if result %}
  <p><strong>{{ result }}</strong></p>
{% endif %}
{% endblock %}