{% extends 'layout.html' %}

{% block title %}Custom encryption{% endblock %}

{% block content %}
<div>
    <header>
        <h2>Register a custom encryption</h2>
    </header>

    <form method="POST" action="/create-language">
        <!-- Username Input -->
        <input type="text" name="encryption" required placeholder="Encryption name">

        <!-- Password Input -->
        <input type="password" name="password" required placeholder="Encryption password">

        <!-- Password Input -->
        <input type="password" name="confirmation" required placeholder="Confirm password">

        
        <input type="password" name="adminKey" required placeholder="Admin Key">

        
        <input type="password" name="adminKeyConfirmation" required placeholder="Confirm Admin Key">
        
        <button type="submit" name="create" value="create">Create</button>
    </form>
</div>
<div class="button-grid">
    <a></a>
    <a href="/use" class="grid-button" style="margin: 13px;">Use an existing encryption?</a>
    <a></a>
  </div>
{% endblock %}
