<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}nCrypt{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='css/logo.png') }}">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <span class="logo" style="font-family: 'Press Start 2P';">nCrypt</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/syedsaadatahmad/" style="margin-right: 6px">Contact</a>
                    </li>
                        <a class="navbar-brand" href="/use-custom">
                            <span class="logo" style=" font-size: 1rem;">Make your encryption</span>
                        </a>
                    
                </ul>
            </div>
        </div>
    </nav>
    {% if get_flashed_messages() %}
            <header>
                <div class="flask-flash {{ category }}">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

    
    <div class="container mt-4">
        <main>
        {% block content %}
            <!-- Content for specific pages will go here -->
        {% endblock %}
        </main>
    </div>

    <footer>
        <p>&copy; 2024 nCrypt. </br>Created by <a href="https://www.linkedin.com/in/syedsaadatahmad/" style="text-decoration: underline; font-weight: bold;">Syed Saadat Ahmad</a></p>
    </footer>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
